body {
    padding-left: 3%;
    padding-top: 2%;

}

#buttons {
    text-align: center;
}

#userButton {
    margin-right: 5%;
    
}

/* #body1 {
    margin: 500px;
}

#body1 {
    margin: 500px;
} */